.modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal__imgBox {
        width: 90%;
        .product__img {
            width: inherit;
        }
    }

    
}