a {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline; 
    }

}

:root {
    font-size: 62.5%;
}


body {
    background: #F7F4ED;
  }
  
  header {
    width: 100vw;
    display: flex;
    justify-content: center;

    align-items: center;
    position: fixed;

    background: #F7F4ED;
  }

  li {
    list-style: none;
  }

  main img {
    width: 96px;
  }

  .root {
    margin: 0 auto;
  }

