.filterWraper {
    width: 100vw;
    display: flex;
    overflow-x: scroll;

        .filter {
            padding: 8px 32px;
            font-size: 1.6rem;
            font-weight: 600;
            color: #1E6732;
            background: #79D898;
            margin: 0 4px;


            &:first-child {
                margin-left: 2.4rem;
              }
          
              &:last-child {
                margin-right: 2.4rem;
              }

        }

        .filter.active {
            color: white;
            background: #1E6732;
          }
        
        &::-webkit-scrollbar {
            width: 0;
        }
          
}