
// -------------Variable-------color-------

$primary-color: #1E6732;
$secudary-color: #FAB443;
$white-default: white;
$bg-color: #F7F4ED;
$black-default: #122317;
$text-color-default: #3A483E;
$text-body-capition: #636C66;

