* {
  font-family: "Poppins", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

:root {
  font-size: 62.5%;
}

body {
  background: #F7F4ED;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #F7F4ED;
}

li {
  list-style: none;
}

main img {
  width: 96px;
}

.root {
  margin: 0 auto;
}

.headerLogo {
  margin: 32px 0 8px;
}

.search {
  max-width: calc(100% - 32px);
}

.btn {
  border: none;
  border-radius: 8px;
  color: white;
  background: #1E6732;
}

.btn__search {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
}

.filter__btn {
  padding: 8px 32px;
  font-weight: 600;
  color: #1E6732;
  background: #79D898;
  margin: 0 4px;
}

.filter__btn:first-child {
  margin-left: 16px;
}

.filter__btn:last-child {
  margin-right: 16px;
}

.filter__btn.active {
  color: white;
  background: #1E6732;
}

.search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50px;
  gap: 16px;
}

.filter {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
}

.filter::-webkit-scrollbar {
  width: 0;
}

.search .input__search {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.container {
  width: 100%;
  padding: 0 18px;
  margin: 0 auto;
}

.listProduct {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 212px;
}

.product {
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}

.product__info {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.product__icon {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.product__icon img {
  width: 22px;
}

footer {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0;
  padding: 8px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu {
  display: flex;
}
