* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
  }

  body {
    background: #F7F4ED;
  }
  
  header {
    width: 100vw;
    display: flex;
    justify-content: center;
    /* background: gray; */

    position: fixed;

    background: #F7F4ED;
  }

  li {
    list-style: none;
  }

  main img {
    width: 96px;
  }

  main {
    overflow: hidden;
    
    top: 0;
  }

  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
  }
  
  .container {
    width: 100%;
    padding: 0 18px;

  }

  .headerLogo {
    margin: 32px 0 8px;
  }
  
  .btn {
    border: none;
    border-radius: 8px;
    
    color: white;
    background: #1E6732;

  }

  .btn__search {
    display: flex;
    align-items: center;
    justify-content: center;

    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  }

  .filter__btn {
    padding: 8px 32px;
    font-weight: 600;
    color: #1E6732;
    background: #79D898;
    margin: 0 4px;
  }

  .filter__btn:first-child {
    margin-left: 16px;
  }

  .filter__btn:last-child {
    margin-right: 16px;
  }

  .filter__btn.active {
    color: white;
    background: #1E6732;
  }
  
  .search {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 16px;

    
  }

  .filter {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    
  }

  .filter::-webkit-scrollbar {
    width: 0;
  }
  
  .search .input__search {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;

    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  }

  /*Main*/

 

  .listProduct {

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;

    margin-top: 212px;
  }

  .product {
    background: white;
    border-radius: 8px;
    display: flex;
    
    justify-content: space-between;
    padding: 8px 12px;

    
  }

  .product__info {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .product__icon {
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .product__icon img {
    width: 22px;
  }

  /*Footer*/

  footer {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;

    padding: 8px 0;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .menu {
    display: flex;

  }